:host {
    min-width: 0;
    max-width: 100%;
}

.subject {
    border: 0;
    width: 100%;
    text-align: left;
    padding: 1rem 1.5rem;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    background: var(--mat-sys-primary-container);
    border-radius: var(--mat-sys-corner-extra-large);
    min-width: 0;
    color: var(--mat-sys-on-surfice);
}