@use '@angular/material' as mat;

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 15rem;
  max-width: calc(100vw - 4rem);
  padding: 1rem;
  background-color: var(--mat-sys-surface-container);
  view-transition-name: sidebar;
}
.sidenav-container > div {
  view-transition-name: sidebar;
}

.sidenav.large {
  border-radius: 0;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.sidenav mat-nav-list a {
  margin-top: 0.5rem;
}
.sidenav a.current {
  @include mat.list-overrides((
    list-item-container-color: var(--mat-sys-primary),
    list-item-label-text-color: var(--mat-sys-on-primary),
    list-item-focus-label-text-color: var(--mat-sys-on-primary),
    list-item-hover-label-text-color: var(--mat-sys-on-primary),
    list-item-leading-icon-color: var(--mat-sys-on-primary),
    list-item-hover-leading-icon-color: var(--mat-sys-on-primary)
  ));
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  
}

.content {
  background-color: var(--mat-sys-surface);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  view-transition-name: swipe;
}

.main-bar {
  flex-shrink: 0;
  border-radius: 0;
  @include mat.toolbar-overrides((
    container-background-color: var(--mat-sys-surface-container-high),
  ));
}
.main-bar.large {
  border-radius: 0;
  @include mat.toolbar-overrides((
    container-background-color: var(--mat-sys-surface),
  ));
}

.hero {
  background-color: var(--mat-sys-primary);
  padding: 1rem;
  overflow: hidden;
  flex-shrink: 0;
  min-height: max-content;
  color: var(--mat-sys-on-primary);
  border-radius: var(--mat-sys-corner-extra-large);

  .hero-grade {
    font: var(--mat-sys-display-small);
  }

  .hero-next {
    padding: 0.2rem 0.5rem;
    font: var(--mat-sys-body-large);
    background-color: var(--mat-sys-primary-container);
    color: var(--mat-sys-on-surface);

    border-radius: var(--mat-sys-corner-full)
  }
}

.large .hero {
  .hero-grade {
    font: var(--mat-sys-display-large);
  }
}
