<div class="hero">
  <img class="header-image" id="welcome-gif" [src]="getStepImage(stepper.selectedIndex)">
</div>

<mat-stepper [linear]="false" headerPosition="top" #stepper style="margin-inline:auto; max-width: 50rem; padding: 1rem; height: 100%">
  <mat-step >
    <div class="content">
      
      <h1>Welcome!</h1>

      <p>
          Welcome to Grade Next. This app will allow you to quickly predict and store your Grades/Score.
      </p>

    </div>
  </mat-step>

  <mat-step >
    <div class="content">
      <h1>Grades and Weights</h1>
      <p>
          This app uses Weighted Avarage to calculate grades. If you don't need weighted grades just ignore the weight value (by default on <code>1</code>).
      </p>
    </div>
  </mat-step>

  <mat-step >
    <div class="content">
      <h1>Subject</h1>

      <p>
          Grades are separated into Subjects. You can create subject by clicking the "Add Subject" button in the bottom right corner.
      </p>

    </div>
  </mat-step>

  <mat-step >
    <div class="content">
      <h1>Themes</h1>

      <p>
          Set your preffered theme.
      </p>

    </div>
  </mat-step>

  <mat-step >
    <div class="content">
      <h1 style="text-align: center;">Enjoy!</h1>


    </div>
  </mat-step>
</mat-stepper>

<div class="steppers-container">
  <div class="steppers">
    @if (stepper.selectedIndex > 0) {
    <button matButton (click)="stepper.previous()">Previous</button>
    }
    @if (stepper.selectedIndex != stepper.steps.length - 1) {
    <button matButton (click)="stepper.next()">Next</button>
    } @else {
      <button matButton (click)="done()">Start</button>
    }
  </div>
</div>