.hero {
    max-width: 50rem; padding: 1rem;
    margin-inline: auto;
}

.steppers-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
.steppers {
    margin-inline: auto;
    max-width: 50rem; padding: 1rem;
    margin-inline: auto;
    
    display: flex;
}
.steppers button {
    flex-grow: 1;
}
div.content {
    display: block;
    margin-block: 0.5rem;
}
.header-image {
    display: block;
    object-fit: contain;
    background-color: #005100;
    min-width: 0;
    max-height: 10rem;
    padding: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin-inline: auto;
    border-radius: 2rem;
}

@media screen and (min-height: 40rem) {
    .header-image {
        display: block;
        object-fit: contain;
        background-color: #005100;
        min-width: 0;
        max-height: 15rem;
        padding: 0.5rem;
        box-sizing: border-box;
        width: 100%;
        margin-inline: auto;
        border-radius: 2rem;
    }
}

@media screen and (min-height: 50rem) {
    .header-image {
        display: block;
        object-fit: contain;
        background-color: #005100;
        min-width: 0;
        max-height: 20rem;
        padding: 0.5rem;
        box-sizing: border-box;
        width: 100%;
        margin-inline: auto;
        border-radius: 2rem;
    }
}